[Desktop Entry]
Name=Remarkable
Comment=A free, fully featured markdown editor for Linux.
Icon=Remarkable
Version=1.0
Categories=GTK;GNOME;Utility;
Exec=/usr/bin/Remarkable %f
Terminal=false
Type=Application
